/* ------------------- Styling across whole document ------------------- */
* {
  font-family: "Saira", sans-serif;
  scroll-behavior: smooth;
  word-wrap: normal;
  
}

body {
  margin: auto;
  background-color: rgba(38, 42, 48, 1);
  scrollbar-width: none; /* Firefox */
  width: 100vw;
}

body::-webkit-scrollbar /* Chrome/Safari/Opera */ {
  display: none;
}

main {
  width: 70%;
  margin: 0 auto;
}

/* All main text/titles */
a,
a:visited,
h1,
h2,
h3 {
  text-decoration: none;
  color: rgba(178, 177, 241, 1);
  padding: 3px 6px;
  border-radius: 15px;

  font-size: 30px;
  font-weight: 700;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: darkslateblue;
}

div,
button {
  border-radius: 15px;
}

a:hover {
  background-color: rgba(1, 1, 1, 0.35);
}

h3 {
  margin: 10px;
  padding-top: 35px;
}

p {
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(220, 220, 220);
}

@keyframes hover-move {
  to {
    transform: translateY(8px);
    background-color: rgba(1, 1, 1, 0.35);
  }
}

/* ------------------- Header ------------------- */
header {
  background-image: linear-gradient(rgb(1, 1, 1, 0.4), rgb(1, 1, 1, 0));
  height: 90vh;
  /* margin: 0 auto; */
}

.background-image {
  background-image: url(/img/backdrop.jpg);
  background-size: cover;
  height: 100vh;
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 50%;
  border-radius: 0px;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

nav h1 {
  margin: 0 auto;
}

nav a {
  margin: 0 15px;
  cursor: pointer;
}

.side-panel-button,
.closebtn {
  display: none;
}

/* ------------------- Profile ------------------- */
.notification p {
  text-align: center;
  background-color: lightblue;
  margin: 0px;
  color: black;
  padding: 4px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px;
}

.profile img {
  border-radius: 50px;
  
}

.profile-text {
  display: grid;
  align-content: center;
  width: 40%;
}

.profile-text h1 {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 30px;
  border-radius: 20px;

  font-size: 40px;
  text-align: center;
  margin: 0px;
}

.profile h4 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
  margin: 5px;
}

.profile-text span {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 2px;
  text-decoration: none;
  color: rgba(178, 177, 241, 1);
  border-radius: 5px;
  font-weight: 700;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: darkslateblue;
}

/* ------------------- About ------------------- */
.about {
  background-color: rgba(49, 69, 99, 1);
  border: 3px solid black;
  display: grid;
  min-height: 80vh;

  font-size: 25px;
  line-height: 25px;
  color: rgb(220, 220, 220);
}

.about h4 {
  margin-left: 10px;
  font-size: 22px;
}

.about-highlights {
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
}

.grid-highlights{
  display: grid;
}

.highlight {
  display: flex;
  justify-content: space-evenly;
}

.about li {
  list-style-type: circle;
  font-size: 15px;
}

.about p {
  font-size: 25px;
  line-height: 32px;
  /* letter-spacing: 0.2px; */
  margin: 30px;
}

/* ------------------- Projects ------------------- */
.project-container {
  background-color: rgba(49, 69, 99, 1);
  margin: auto;
  border: 3px solid black;
}

.project-bar {
  /* height: 50px; */
  display: flex;
  justify-content: space-around;
  margin: auto;

  cursor: pointer;
}

.project-bar img {
  margin: 10px;
}

@keyframes dropDown {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.project-bar h4 {
  font-size: 25px;
  margin: auto;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.project-content {
  display: grid;
  /* justify-content: space-evenly; */
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.tags {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
}

.tags h5 {
  background: 3px rgba(196, 196, 196, 1);
  padding: 4px;
  border-radius: 10px;

  margin: 0px 4px auto;
  font-size: 15px;
}

/* ------------------- Project Slideshow ------------------- */

.swiper {
  width: 700px;
  height: 370px;
  border-radius: 0px;
  }

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow {
  
  position: relative;
  display: flex;
  justify-content: center;
}

/* .slide {
  display: none;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 15px auto;
} */

.slide iframe{
  max-width: 85vw;
}

.slide figcaption {
  text-align: center;
  background-color: rgba(1, 1, 1, 0.35);
  color: white;
  padding: 10px;
  margin: 0 auto;
  position: absolute;
  bottom: -3px;
} */


.prev,
.next {
  color: white;
  font-size: 35px;
  border-radius: 0;
  bottom: 40%;
  cursor: pointer;
  z-index: 2;

  /* So arrows wont highlight when clicked on them fast */
  user-select: none; /* Chrome and Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}

/* .prev {
  position: absolute;
  left: 0px;
}

.next {
  position: absolute;
  right: 0px;
} */

/* ------------------- Project Description ------------------- */
.description {
  display: grid;
  align-items: center;
}

.description-links {
  display: flex;
}

.description-links a {
  margin-left: 25px;
}

.description p {
  margin: 0px 25px;
}

.description p a{
  text-decoration:underline;
  color: white;
  padding: 2px;

  font-size: 18px;
  font-weight: normal;
  -webkit-text-stroke: 0px;
}

/* --------------- 'View More' text --------------- */
.view-more {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* --------------- Footer --------------- */
footer {
  background-image: linear-gradient(to top, rgb(1, 1, 1, 0.5), rgb(0, 0, 0, 0));
  padding-top: 50px;
}

footer nav {
  margin: 0px 20px;
  margin-top: 10px;
  display: flex;
}

footer a {
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
}