/* ------------------- Styling across whole document ------------------- */
* {
  font-family: 'Saira', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  background-color: rgba(38, 42, 48, 1);

  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar /* Chrome/Safari/Opera */ {
  display: none;
}

main {
  width: 70%;
  margin: 0 auto;
}

/* All main text/titles */
a,
a:visited,
h1,
h2,
h3 {
  text-decoration: none;
  color: rgba(178, 177, 241, 1);
  padding: 6px;
  border-radius: 15px;

  font-size: 30px;
  font-weight: 700;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: darkslateblue;
}

a:hover {
  background-color: rgba(1, 1, 1, 0.35);
}

h3 {
  margin: 10px;
  padding-top: 35px;
}

p {
  color: white;
}

div {
  border-radius: 15px;
}

/* ------------------- Header ------------------- */
header{
  height: 90vh;
}

.background-image{
  background-image: linear-gradient(rgb(1,1,1,0.6), rgb(1,1,1,0)) , url(https://unity3d.com/profiles/unity3d/themes/unity/images/unity/beta/alpha-beta/2020.2b-improvements.jpg);
  background-size: cover;
  height: 90vh;
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 50%;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-links {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  margin-top: 0;
}

li {
  margin: 0 15px;
}

/* ------------------- Profile ------------------- */

.profile {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 200px;
}

.profile img {
  border-radius: 50px;
}

.profile-text {
  display: grid;
  align-items: center;
}

.profile-text h1 {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 30px;
  border-radius: 20px;

  font-size: 40px;
  text-align: center;
}

.profile-text h2 {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 30px;
  border-radius: 20px;

  text-align: center;
}

/* ------------------- About ------------------- */
.about {
  background-color: rgba(49, 69, 99, 1);
  border: 3px solid black;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
}

.about p {
  width: 50%;
  margin: 30px;
}

/* ------------------- Projects ------------------- */
.project-container {
  background-color: rgba(49, 69, 99, 1);
  margin: auto;
  border: 3px solid black;
}

.project-bar {
  /* height: 50px; */
  display: flex;
  justify-content: space-around;
  margin: auto;

  cursor: pointer;
}

.project-bar img {
  transform: rotate(180deg);
}

.project-bar h4 {
  font-size: 25px;
  margin: auto;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.project-content {
  display: flex;
  justify-content: space-evenly;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.tags {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
}

.tags h5 {
  background: 3px rgba(196, 196, 196, 1);
  padding: 4px;
  border-radius: 10px;

  margin: 0px 4px auto;
  font-size: 15px;
}

/* ------------------- Project Slideshow ------------------- */
.slideshow {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: center;
}

.slide {
  display: none;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.slide figcaption {
  text-align: center;
  background-color: rgba(1, 1, 1, 0.35);
  color: white;
  padding: 10px;
  margin: 0 auto;
  position: absolute;
  bottom: -3px; /*  */
}

.prev,
.next {
  color: white;
  font-size: 35px;
  border-radius: 0;
  bottom: 40%;
  cursor: pointer;
  z-index: 2;

  /* So arrows wont highlight when clicked on them fast */
  user-select: none; /* Chrome and Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}

.prev {
  position: absolute;
  left: 0px;
}

.next {
  position: absolute;
  right: 0px;
}

/* ------------------- Project Description ------------------- */
.description {
  display: grid;
  align-items: center;
  width: 55%;
  /* border: 2px solid red; */
}

.description-links {
  display: flex;
}

.description-links a {
  margin-left: 25px;
}

.description p {
  /* border: 2px solid red; */
  margin: 0px 25px;
}

/* --------------- 'View More' text --------------- */
.view-more {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* --------------- 'View More' text --------------- */
footer{
  background-image: linear-gradient(to top,rgb(1,1,1,0.5), rgb(0,0,0,0));
  padding-top: 50px;
}

footer nav{
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

footer a{
  padding: 0;
  margin: 0 auto;
}