/* ------------------- Styling across whole document ------------------- */
* {
  font-family: sans-serif;
}

body {
  background-image: url(https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Fa-first-look-at-unreal-engine-5%2FUE5_Announcement_Feed_Large-1920x1080-8c8ab609059186399d92ca5dc8a748e62880e0e7.jpg);
  background-repeat: no-repeat;
  background-size: 100% 620px;
  background-color: rgba(38, 42, 48, 1);

  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar /* Chrome/Safari/Opera */ {
  display: none;
}

main {
  width: 70%;
  margin: 0 auto;
}

/* All main text/titles */
a,
a:visited,
h1,
h2,
h3 {
  text-decoration: none;
  color: rgba(178, 177, 241, 1);
  padding: 8px;
  border-radius: 15px;

  font-size: 25px;
  font-weight: 800;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

a:hover {
  background-color: rgba(1, 1, 1, 0.35);
}

h3 {
  margin: 10px;
}

p {
  color: white;
}

/* ------------------- Header ------------------- */
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 35px;
}

.header-links {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  margin-top: 0;
}

li {
  margin: 0 15px;
}

/* ------------------- Profile ------------------- */

.profile {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 100px;
}

.profile-text {
  display: grid;
  align-items: center;
}

.profile-text h1 {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 30px;
  border-radius: 20px;

  font-size: 30px;
  text-align: center;
}

.profile-text h2 {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 30px;
  border-radius: 20px;

  text-align: center;
}

/* ------------------- About ------------------- */
.about {
  background-color: rgba(49, 69, 99, 1);
  border: 3px solid black;

  display: flex;
  justify-content: space-evenly;
}

/* ------------------- Projects ------------------- */
.project-container {
  background-color: rgba(49, 69, 99, 1);
  margin-top: 0;
  margin-bottom: 0;

  border: 3px solid black;
}

.project-bar {
  /* height: 50px; */
  display: flex;
  justify-content: space-around;
  margin: auto;

  cursor: pointer;
}

.project-bar img {
  transform: rotate(180deg);
}

.project-bar h4 {
  font-size: 20px;
  margin: auto;
}

.project-description {
  display: flex;
  justify-content: space-evenly;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.tags {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
}

.tags h5 {
  background: 3px rgba(196, 196, 196, 1);
  padding: 4px;
  border-radius: 10px;

  /* margin: auto; */
  /* text-align: center; */
  margin: 0px 4px auto;
  font-size: 15px;
}

/* ------------------- Project Slideshow ------------------- */
.slideshow {
}

.slide {
  display: none;
  border: 2px solid blue;
}

.slide p {
  text-align: center;
  background-color: rgba(1, 1, 1, 0.35);
  padding: 10px;
  margin: 0 auto;
}

.prev,
.next {
  color: white;
  border-radius: 0;
  cursor: pointer;
  z-index: 2;
}

/* --------------- 'View More' text --------------- */
